@import '../../styles/variables';
@import '../../styles/helpers';

$li-second-color: green;
$li-main-color: yellow;
$border-color: pink;

.core-values {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 3px solid $border-color;
    margin: 2rem;
  }
  ul {
    list-style: none;
    display: flex;

    flex-wrap: wrap;
    padding: 0;
    .list-item {
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 10rem;
      i {
        font-size: 2.5em;
      }
      span {
        text-align: left;
      }
    }
    .list-item.mobile-highlight {
      color: initial;
      background-color: initial;
    }
    .list-item.desktop-highlight {
      color: $li-main-color;
      background-color: $li-second-color;
    }
  }
}

@media (max-width: 500px) {
  .core-values {
    ul {
      display: flex;
      flex-direction: column;
      .filler {
        display: none !important;
      }
      .list-item {
        padding: 2rem;
        height: initial;
      }
      .list-item.desktop-highlight {
        color: initial;
        background-color: initial;
      }
      .list-item.mobile-highlight {
        color: $li-main-color;
        background-color: $li-second-color;
      }
    }
  }
}
