$color-primary-0: #55568d; /* Main Primary color */
$color-primary-1: #42447f;
$color-primary-2: #4a4b85;
$color-primary-3: #494a4d;
$color-primary-4: #383838;

$color-secondary-1-0: #ffef58; /* Main Secondary color (1) */
$color-secondary-1-1: #ffed42;
$color-secondary-1-2: #ffee4c;
$color-secondary-1-3: #ccc7a1;
$color-secondary-1-4: #98968a;
$faded-secondary-1-4: rgba(152, 150, 138, 0.6);

$color-secondary-2-0: #9e8058; /* Main Secondary color (2) */
$color-secondary-2-1: #95590b;
$color-secondary-2-2: #9d6012;
$color-secondary-2-3: #26221c;
$color-secondary-2-4: #030202;

/* custom assignments */

/* v2 colors*/

$primary-color: #43a047;
$primary-light: #76d275;
$primary-dark: #00701a;
$primary-text: #212121;

$secondary-color: #9e9e9e;
$secondary-light: #cfcfcf;
$secondary-dark: #707070;
$secondary-text: #212121;

$dark-text: #212121;
$light-text: $secondary-light;

$dark-transparency: rgba(0, 0, 0, 0.5);

$background-color: $color-secondary-1-3;
$header-text-color: white;
$header-color: $color-primary-1;
$sub-header-text: $color-secondary-1-2;
$picture-border: $color-secondary-1-4;
$link-color: $secondary-light;
$contact-link-color: $color-secondary-2-2;

$panel-background-color: $color-secondary-1-3;
$section-background-color: $color-secondary-1-3;
$project-title-banner: $faded-secondary-1-4;
$dark-section-background: $color-secondary-2-4;

$section-footer-background-color: $color-secondary-1-0;
$bright-main: #708090;
$dull-main: #778899;
$dark-secondary: #696969;
$light-secondary: #808080;
$footer-color: #a9a9a9;

$border-color: pink;

$fab-button: $primary-light;
$fab-text: $primary-text;
