@import '../../styles/variables';
@import '../../styles/helpers';

.white {
  color: lightgrey;
}
.current-skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  background-color: $dark-section-background;
  .current-skill {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    i {
      font-size: 5em;
      padding: 0.25em;
    }
  }
  @media screen and (min-width: 900px) {
    .current-skills-list {
      justify-content: center;
      .current-skill {
        flex-basis: 0;
      }
      i {
        margin: 0.5em;
        padding: 1em 0em;
      }
    }
  }
}
