/* Palette URL: http://paletton.com/#uid=33Z0u1keTpni3mVgCnT1JdS00a5kkVJJnKGrmsHI6Fpy2Tj1ke9jOtFiKsqjI954P7v0l */
@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');
@import 'styles/variables';
@import 'styles/helpers';

body {
  background: $body-color;
  margin: 0;
  padding: 0;
  font-family: 'Arvo', serif;
  min-width: 300px;
}

.uppercase {
  text-transform: uppercase;
}

ul {
  margin: 0;
}
.App {
  width: 100%;
  min-width: 300px;
}

.section {
  background-color: $section-background;
  margin: 0.5rem;
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $primary-color;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    width: 100%;
  }
  ul {
    padding-bottom: 1em;
  }
  footer {
    display: flex;
    justify-content: center;
    background-color: $primary-light;
    color: $primary-text;
    height: 3em;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    nav,
    a {
      @extend .uppercase;
      color: $dark-text;
      i {
        padding-right: 0.25em;
      }
    }
  }
}

.contact-info.sub-section {
  text-align: center;
}

.contact-button {
  width: 100%;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    padding-right: 0.5em;
  }
}

.word-cloud {
  display: flex;
  flex-wrap: wrap;
  span {
    margin: 0.25em;
  }
  span:nth-of-type(2n + 3) {
    font-size: 1.25em;
  }
  span:nth-of-type(2n + 4) {
    font-size: 1.5em;
  }
  span:nth-of-type(4n - 2) {
    font-size: 1em;
  }
}

$a: 3n +
  random(
    $limit: 3
  );
$b: 2n +
  random(
    $limit: 6
  );
$c: 3n -
  random(
    $limit: 3
  );

#wordCloud {
  text {
    fill: $color-primary-3 !important;
  }
  text:nth-of-type(3n + 1) {
    fill: $color-secondary-1-2 !important;
  }
  text:nth-of-type(4n + 3) {
    fill: $color-secondary-2-4 !important;
  }
  text:nth-of-type(5n - 3) {
    fill: $color-secondary-2-1 !important;
  }
}
