$main-color: #03F8FD;
$bright-main: #8FC6EF;
$dull-main: #2B3948;
$dark-secondary:#6F8199;
$light-secondary: #B1C5C8;
$background-color: $dark-secondary;
$hero-img: url('/images/hero.jpg');
$face-pic:url('/images/Mark-3.jpg');
body {
    background: $background-color;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

.App {
    width: 100%;
}

.background-image-helper {
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: 100% 100%;
}

.hero {
    @extend .background-image-helper;
    background-image: $hero-img;
    height: 16em;
}

.face-pic {
    height: 7.5em;
    width: 7.5em;
    margin: -4em;
    border: 0.25em $dark-secondary solid;
    background-image: $face-pic;
    border-radius: 1px;
    @extend .background-image-helper;
}

.section {
    background-color: $light-secondary;
}

.sub-section {
    background-color: $bright-main;
    margin:1em;
    padding:1em;
}

.contact-info.sub-section{
  text-align:   center;
}

.contact-button{
    width: 100%;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
}
.title-block {
    display: flex;
    justify-content: space-evenly;
    h2 {}
}

.body {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $dull-main;
        background-color: $main-color;
        h4{
          text-align: center;
        }
    }
}

.btn{

}

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


.current-status-header{
    font-size: 0.8em;
}

.current-status-text{
    font-size: 1.2em;
    text-align: center;
    width: 100%;
}